.slick-prev:before, .slick-next:before{
  color:black !important;
}
.arts {
  padding-top: 5vw;
  width: 55vw;
  height: 50vw;
  margin: auto;
}
.slick-slide {
  border: 2px groove black;
  height: inherit !important;
}
.slick-dots {
  bottom: -20px !important;
}
.slick-track
{
  display: flex !important;
}

@media screen and (max-width: 960px) {
  .arts {
    padding-top: 10vw;
    width: 70vw;
    height: 90vw;
  }
  .slick-dots {
    bottom: -40px !important;
  }
}
